
.icon{
padding: 0px;
outline-color: black;
display: inline-block;
position: relative;
text-align: center;

}

.nav-bar{
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #405061;
    color: #fff;
    
}

.guide{
    
    margin: 0px;
    text-align: center;
}

#search-box{
    display: inline-block;
    resize: horizontal;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    resize: vertical;
    height: 50px;
}

.id{

display: inline-block;

}

.icon{
    
    width: 25%;

}



.results :hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  
  .results a {
    color: rgb(255, 253, 253);
    text-decoration: none;
    position: relative;
    display: block;
    height: 15px;
  }

  .results {
    margin: 2px;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: left;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }