

<!--------------------------------------------------->

<div id="search-component">
  

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let datum of data$ | async" class="results" >
      <a routerLink="{{datum.searchUrl}}" (click)="searchBox.clear()" >
        {{datum.title}}
      </a>
    </li>
  </ul>
</div>

<!---------------------------------------------------------------->


<div class="nav-bar">

   <div class="icon" >
    <a routerLink="/news"><img src="../../assets/images/icons/News_icon.png" width="50%"
        height="50%">
      </a>  
      <p class="guide">news</p>
    </div>

    <div class="icon" >
        <a routerLink="/completion"><img src="../../assets/images/icons/nav_icon.png" width="50%"
            height="50%">
          </a>  
          <p class="guide">completion guide</p>
        </div>
        
        <div class="icon" >
          <a routerLink="/character"><img src="../../assets/images/icons/char_icon.png" width="50%"
              height="50%">
            </a>  
            <p class="guide">characters</p>
          </div>

            <div class="icon" >
              <a routerLink="/speed"><img src="../../assets/images/icons/speed_icon.png" width="50%"
                  height="50%">
                </a>  
                <p class="guide">speed runs</p>
               </div>

             
                
                  
              
    </div>

  