.Slevel_list{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(35, 99, 219);
    padding: 5px;
    border-radius: 10px;
  
  }

  .Plevel_list{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 124, 35);
    padding: 5px;
    border-radius: 10px;
  
  }

  .level{
    padding: 5px;
    border-radius: 9px;
    margin: 20px;
    background-color: white;
  }