<ul class="Slevel_list">
    <div *ngFor="let level of Slevels" class="level">
        <a routerLink="/Slevel-detail/{{level.id}}">
        <li class="level">
        {{level.title}}

    </li>
</a>
</div>
</ul>

<ul class="Plevel_list">
    <div *ngFor="let level of Plevels" class="level">
        <a routerLink="/Plevel-detail/{{level.id}}">
        <li class="level">
        {{level.title}}

    </li>
</a>
</div>
</ul>