
<ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-outline-dark left-btn" (click)="this.dec()" >Prev</button>
      <img src="{{this.urls[this.index]}}" class="mem">
      <button type="button" class="btn btn-outline-dark right-btn " (click)="this.inc()" >Next</button>
    </div>
  </ng-template>

  <div class="prim">
  <img src="{{theLevel.charUrl}}" class="chars">

  <p class="desc">{{theLevel.desc}}</p>
</div>

<div class="bot">

  <div class="psi">
    <h1>{{theLevel.powTitle}}</h1>
    <img src="{{theLevel.powUrl}}">
    <p class="pdesc">{{theLevel.powDesc}}</p>
  </div>

  
  <img class="vaults" *ngFor="let vault of theLevel.vaults" (click)="open(content,vault)" src="../../assets/images/icons/vault_icon.png">
  
</div>