.mem{
    height: 250px;
    
}

.left-btn{
    float: left;

}

.right-btn{
    float: right;
}

.desc{
    background-color: white;
    border-radius: 10px;
    float: top;
    padding:5px;
}

.chars{
    width: 200px;
}

.prim{
    background-color: rgb(129, 138, 158);
    margin:5px;
    padding: 10px;
}

.vaults{
    width: 100px;
    padding: 10px;
    margin: 5px;
    border-radius: 2000px;
    background-color: rgb(129, 138, 158);

}

.bot{
    background-color: rgb(199, 0, 66);
    padding: 5px;
    margin:5px;
}

.pdesc{
    background-color: white;
    border-radius: 10px;
    float: top;
    padding:5px;
}