


.mapImg{
    float: left;
    margin: 5px;
    width:30%;
    border: 5px solid black;
    border-radius: 5px;
}

.ens{
    
   float: right;
    margin: 5px;
    background-color:slategrey;
    width:20%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
}

.enmage{
    width:40%;
    margin:10px;
    
    
}

.tophalf{
  display: inline-block;  
  
}

.allens{
   float: top;
   
    
}

.sly{ 
    display: inline-block ;
    background-color: cornflowerblue;
    margin:8px;
    border-radius: 20px;
    width:100%;
    
}
.bentley{ 
    display: inline-block ;
    background-color: rgb(29, 139, 38);
    margin:8px;
    border-radius: 20px;
    width:100%;
    
}
.murray{ 
    display: inline-block ;
    background-color: rgb(224, 84, 154);
    margin:8px;
    border-radius: 20px;
    width: 100%;
    
}

.missImg{
    height:80px;
    margin: 5px;
    float: left;
}

.missionText{
    float: top;
    font-family: Arial, Helvetica, sans-serif;
    
}

.missdesc{
    text-align: left;
    width: 90%;
    margin: 5px;
}

.allmiss{
    height: 300px;
    overflow: scroll;
    
}

#misstext{
    font-family: Arial, Helvetica, sans-serif;
}