<div class="tophalf"> 
<img class="mapImg" src="{{theLevel.mapUrl}}">

<div class="allens">


<div class="ens" *ngFor="let en of theLevel.enemies">
    <img  class="enmage" src={{en.imgUrl}}>
    <strong><p>{{en.name}}</p></strong>
    
    <p>{{en.desc}}</p>


</div>

</div>
</div>


<h1 id="misstext">Missions:</h1>
<div class="allmiss">
<div *ngFor="let mission of theLevel.missions" class={{mission.asign}}>
      <img class="missImg" src={{mission.iconUrl}}>
<div class="missionText">
    <strong><p class="missdesc">{{mission.name}}</p></strong>
    <p class="missdesc">{{mission.desc}}</p>
</div>

</div>

</div>