

<button class="btn" [class.selected]="this.game === 'sly'" (click)="this.getArticles('sly')">Sly Cooper</button>
<button class="btn" [class.selected]="this.game === 'pn'" (click)="this.getArticles('pn')" >Psychonauts</button>

<div class="arts_box">
<ul class="news_art">
    <li *ngFor="let article of articles"  class="arts">  
        <strong >{{article.title}}</strong> <br>
        {{article.description}}
      </li>

</ul>
</div>