.selected {
    background-color:rgba(0, 110, 255, 0.815);
   
  }
  .btn{
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
   
  }

  .news_art{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(52, 29, 107);
    padding: 5px;
    border-radius: 10px;
  
  }

  .arts{
    padding: 5px;
    border-radius: 9px;
    margin: 20px;
    background-color: white;
  }

 .arts_box{
  overflow: scroll;
  height:400px;
 
 }