.selected {
    background-color: rgba(0, 110, 255, 0.815);
  
  }

  .selectedGood{
    background-color: rgba(0, 110, 255, 0.815);
  }


  .char_img{
float:left;
height: 100%;
  }

  .charDesc{
float:top;
  }
  .id{
    float: right;
    font-size: 125%;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .sly{
    background-color: rgb(20, 36, 65);
    border: 1px solid black;
    padding: 5px;
    color:white;
    height:150px;
  }

  .pn{
    background-color: rgb(238, 182, 97);
    border: 1px solid black;
    padding: 5px;
    height:150px;
  }
  .btn{
    margin: 5px;   
  }

  #ene{
    margin-left: 30px;
  }

  .list{
    overflow: scroll;
    height:400px;
  }