<button class="btn" [class.selected]="this.game === 'sly'" (click)="this.getChars('sly',null)">Sly Cooper</button>
<button class="btn" [class.selected]="this.game === 'pn'" (click)="this.getChars('pn',null)">Psychonauts</button>

<button class="btn" [class.selectedGood]="this.isGood === false" (click)="this.getChars(null,false)" id="ene">Villans</button>
<button class="btn" [class.selectedGood]="this.isGood === true" (click)="this.getChars(null,true)" >Heroes</button>


<ngb-accordion  [closeOthers]="true" >
    <ngb-panel *ngFor="let char of chars;index as i" [attr.id]="i" title="{{char.title}}">
      <ng-template ngbPanelContent>
          <div class = {{char.game}}>
        <img class="char_img" src={{char.imageUrl}}>
        <p class="charDesc">{{char.desc}}</p>
    </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  

  