.selected{
    background-color: rgb(154, 206, 154);
 
}


.button{
    height: 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px;
    font-size: 20px;
}

.player{
    background-color: rgb(154, 206, 154);
    text-align:center;
    width:100%;

    padding: 5px;
}