<div class="player">
<iframe *ngIf='safeUrl'  width="889" height="500" [src]='safeUrl' frameborder="0" allowfullscreen >
</iframe>
</div>

<div class="buttons">
<button *ngFor = "let run of runs" (click)="this.setRunId(run.runUrl)" [class.selected]=" this.id == run.runUrl" class="button">
{{run.title}}
</button>
</div>